 html, body {
  height: 100%;
  width: 100%;
}
button {
  background-color: #012b87;
  color: #ffffff;
  border:3px solid #ffffff;
  width: 40px;
  height: 40px;
}
#but2 {
  background-color: #38ff45;
  color: #ffffff;
  border:3px solid #ffffff;
  width: 40px;
  height: 40px;
}
#but3 {
  background-color: #f21c1c;
  color: #ffffff;
  border:3px solid #ffffff;
  width: 40px;
  height: 40px;
}
#but4 {
  background-color: #a58e63;
  color: #ffffff;
  border:3px solid #ffffff;
  width: 40px;
  height: 40px;
}
#but5 {
  background-color: pink;
  color: #ffffff;
  border:3px solid #ffffff;
  width: 40px;
  height: 40px;
}
#but6 {
  background-color: #38ff45;
  color: #ffffff;
  border:3px solid #ffffff;
  width: 40px;
  height: 40px;
}
#but7 {
  background-color: #012b87;
  color: #ffffff;
  border:3px solid #ffffff;
  width: 40px;
  height: 40px;
}
#but8 {
  background-color: #ff6929;
  color: #ffffff;
  border:3px solid #ffffff;
  width: 40px;
  height: 40px;
}
#but9 {
  background-color: #ffffff;
  color: #ffffff;
  border:3px solid #ffffff;
  width: 40px;
  height: 40px;
}
#but10 {
  background-color: #ff0000;
  color: #ffffff;
  border:3px solid #ffffff;
  width: 40px;
  height: 40px;
}
#but11 {
  background-color: #ff6929;
  color: #ffffff;
  border:3px solid #ffffff;
  width: 40px;
  height: 40px;
}
#but12 {
  background-color: #f8f00d;
  color: #ffffff;
  border:3px solid #ffffff;
  width: 40px;
  height: 40px;
}
/*
.swatch {
	border: 1px solid #292929;
	display: inline-block;
	width: 22%;
	height: 40px;
	margin: 0;
	margin-right: calc( 4% - 3px );
	cursor: pointer;
}
.swatch:last-child {
	margin-right: 0;
}

.swatch#black {
	background-color: #000;
}
.swatch#blue {
	background-color: #8ff1f2;
}
.swatch#orange {
	background-color: #e35e16;
}
.swatch#dblue {
	background-color: #302df0;
}
.swatch#green {
	background-color: #1ce94f;
}
.swatch#pink {
	background-color: #ffa8a8;
}
.swatch#red {
	background-color: #e52424;
}
.swatch#yellow {
	background-color: #e7f529;
}

*/

body {
  background: #eeeded;
}

.card {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.2s ease-in-out;
  box-sizing: border-box;
  margin-top:10px;
  margin-bottom:10px;
    background-image: linear-gradient(white, #e3e3e3);

}

.card:hover {
  box-shadow: 0 5px 5px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.card > .card-inner {
  padding:10px;
}
.card .header h2, h3 {
  margin-bottom: 0px;
  margin-top:0px;
}
.card .header {
  margin-bottom:5px;
}
.card img{
  width:100%;
border-radius: 3px;
}