html, body {
  height: 100%;
  width: 100%;
}
.swatch {
	border: 1px solid #292929;
	display: inline-block;
	width: 22%;
	height: 40px;
	margin: 0;
	margin-right: calc( 4% - 3px );
	cursor: pointer;
}
.swatch:last-child {
	margin-right: 0;
}

.swatch#black {
	background-color: #000;
}
.swatch#blue {
	background-color: #8ff1f2;
}
.swatch#orange {
	background-color: #e35e16;
}
.swatch#dblue {
	background-color: #302df0;
}
.swatch#green {
	background-color: #1ce94f;
}
.swatch#pink {
	background-color: #ffa8a8;
}
.swatch#red {
	background-color: #e52424;
}
.swatch#yellow {
	background-color: #e7f529;
}